# Dependencies & Build
.venv
__pycache__
*.py[oc]
dist/
build/
*.egg-info

# Persistence & Data (Baking in local data is discouraged)
data/
*.db
app_settings.json
uploads/
chroma_db/
tmp/
*.old
*.old.db

# Environment & System
.env
.git
.DS_Store
*.log
test/
